@use '../base/variables' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 998;
}

.modal-content {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-surface;
  padding: 2rem;
  border-radius: $radius;
  z-index: 999;
  width: auto;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

@media (max-width: 600px) {
  .modal-content {
    top: 10%;
  }
}
