// Colors
$color-bg-body:   #2b2b2b;
$color-surface:   #1e1e1e;
$color-light:     #e8dfce;
$color-dark:      #111111;
$color-primary:   #00a854;
$color-secondary: #c38e58;
$color-accent:    #5e66ff;
$color-error:     #d94e4d;
$color-accent-hover: #4f56f0;
$color-border:    $color-light;

// Typography
$font-main: 'Segoe UI', sans-serif;

// Spacing
$padding: 1rem;
$margin: 1rem;
$radius: 8px;